<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Graph Per Decile</title>
<!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="https://getbootstrap.com/docs/4.0/examples/carousel/carousel.css" rel="stylesheet">

<script src="http://www.chartjs.org/dist/2.7.1/Chart.bundle.js"></script>
    <script src="http://www.chartjs.org/samples/latest/utils.js"></script>
    <style>
    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
    
    <!-- Jquery -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
</head>
<body>


<header>
	      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	        <a class="navbar-brand" th:href="@{/}" >Home : <span th:text="*{userName}"></span>, Your role : <span th:text="*{userRole}"></span></a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarCollapse">
	           <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/#ToMiddle}">Description</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/#ToBottom}">Help</a>
            </li>
               <li class="nav-item">
              <a class="nav-link" th:href="@{/graph}">Graph</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
            </ul>
	        </div>
	      </nav>
    </header>
	<div style="width:100%;">
        <canvas id="canvas"></canvas>
    </div>
    <br>
    <br>
    
    <script>
      
    
        var getDataEmployee = function(i) {
            $.ajax({
                type: "GET",
                url: '/api/dataEmployee',
                cache:false,
                dataType :'json',
                success: function(data){
                     //alert(data);   
                     //alert(data.employeeInformation[0].employeeId);       
                     //alert("ici"+data.employeeInformation[0].employeeId);
                     //alert(data.employeeInformation[i].salary);
                     return data.employeeInformation[i].salary;
               }
            });
        };

        var config = {
            type: 'line',
            data: {
                labels: ["100", "101", "102", "103", "104", "105", "106", "107", "108", "109", "110", "111", "112", "113", "114", "115", "116", "117", "118", "119", "120", "121", "122", "123", "124", "125", "126", "127", "128", "129", "130", "131", "132", "133", "134", "135", "136", "137", "138", "139", "140", "141", "142", "143", "144", "145", "146", "147", "148", "149", "150", "151", "152", "153", "154", "155", "156", "157", "158", "159", "160", "161", "162", "163", "164", "165", "166", "167", "168", "169", "170", "171", "172", "173", "174", "175", "176", "177", "178", "179", "180", "181", "182", "183", "184", "185", "186", "187", "188", "189", "190", "191", "192", "193", "194", "195", "196", "197", "198", "199", "200", "201", "202", "203", "204", "205", "206"],
                datasets: [{
                    label: "Salary per decile",
                    fill: false,
                    backgroundColor: window.chartColors.blue,
                    borderColor: window.chartColors.blue,
                    data: [
                        getDataEmployee(0),
                        getDataEmployee(1),
                        getDataEmployee(2),
                        getDataEmployee(3),
                        getDataEmployee(4),
                        getDataEmployee(5),
                        getDataEmployee(6),
                        getDataEmployee(7),
                        getDataEmployee(8),
                        getDataEmployee(9),
                        getDataEmployee(10),
                        getDataEmployee(11), 
                        getDataEmployee(12), 
                        getDataEmployee(13), 
                        getDataEmployee(14), 
                        getDataEmployee(15), 
                        getDataEmployee(16), 
                        getDataEmployee(17), 
                        getDataEmployee(18), 
                        getDataEmployee(19), 
                        getDataEmployee(20),
                        getDataEmployee(21), 
                        getDataEmployee(22), 
                        getDataEmployee(23), 
                        getDataEmployee(24), 
                        getDataEmployee(25), 
                        getDataEmployee(26), 
                        getDataEmployee(27), 
                        getDataEmployee(28), 
                        getDataEmployee(29), 
                        getDataEmployee(30),
                        getDataEmployee(31), 
                        getDataEmployee(32), 
                        getDataEmployee(33), 
                        getDataEmployee(34), 
                        getDataEmployee(35), 
                        getDataEmployee(36), 
                        getDataEmployee(37), 
                        getDataEmployee(38), 
                        getDataEmployee(39), 
                        getDataEmployee(40),
                        getDataEmployee(41), 
                        getDataEmployee(42), 
                        getDataEmployee(43), 
                        getDataEmployee(44), 
                        getDataEmployee(45), 
                        getDataEmployee(46), 
                        getDataEmployee(47), 
                        getDataEmployee(48), 
                        getDataEmployee(49), 
                        getDataEmployee(50),
                        getDataEmployee(51), 
                        getDataEmployee(52), 
                        getDataEmployee(53), 
                        getDataEmployee(54), 
                        getDataEmployee(55), 
                        getDataEmployee(56), 
                        getDataEmployee(57), 
                        getDataEmployee(58), 
                        getDataEmployee(59), 
                        getDataEmployee(60),
                        getDataEmployee(61), 
                        getDataEmployee(62), 
                        getDataEmployee(63), 
                        getDataEmployee(64), 
                        getDataEmployee(65), 
                        getDataEmployee(66), 
                        getDataEmployee(67), 
                        getDataEmployee(68), 
                        getDataEmployee(69), 
                        getDataEmployee(70),
                        getDataEmployee(71), 
                        getDataEmployee(72), 
                        getDataEmployee(73), 
                        getDataEmployee(74), 
                        getDataEmployee(75), 
                        getDataEmployee(76), 
                        getDataEmployee(77), 
                        getDataEmployee(78), 
                        getDataEmployee(79), 
                        getDataEmployee(80),
                        getDataEmployee(81), 
                        getDataEmployee(82), 
                        getDataEmployee(83), 
                        getDataEmployee(84), 
                        getDataEmployee(85), 
                        getDataEmployee(86), 
                        getDataEmployee(87), 
                        getDataEmployee(88), 
                        getDataEmployee(89), 
                        getDataEmployee(90),
                        getDataEmployee(91), 
                        getDataEmployee(92), 
                        getDataEmployee(93), 
                        getDataEmployee(94), 
                        getDataEmployee(95), 
                        getDataEmployee(96), 
                        getDataEmployee(97), 
                        getDataEmployee(98), 
                        getDataEmployee(99), 
                        getDataEmployee(100),
                        getDataEmployee(101), 
                        getDataEmployee(102), 
                        getDataEmployee(103), 
                        getDataEmployee(104), 
                        getDataEmployee(105), 
                        getDataEmployee(106), 
                        getDataEmployee(107)
                    ],
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Chart.js Line Chart to draw the graph of employees.'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Id Of Employee'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Salary'
                        },
                        ticks: {
                            min: 0,
                            max: 26000,

                            // forces step size to be 1000 units
                            stepSize: 1000
                        }
                    }]
                }
            }
        };

        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myLine = new Chart(ctx, config);
        };

        

    </script>

</body>
</html>